
#myCarousel.swiper-container.main-slider
  .swiper-wrapper
    .swiper-slide.slider-bg-position{"data-hash" => "slide1", :style => "background:url(#{asset_url('side_image.jpg')})"}
      %h2 It is health that is real wealth and not pieces of gold and silver
    .swiper-slide.slider-bg-position{"data-hash" => "slide2", :style => "background:url('http://grafreez.com/wp-content/temp_demos/burnout/img/3.jpg')"}
      %h2 Happiness is nothing more than good health and a bad memory
  / Add Pagination
  .swiper-pagination
  / Add Navigation
  .swiper-button-prev
    %i.fa.fa-chevron-left
  .swiper-button-next
    %i.fa.fa-chevron-right
.container
  .row.grid-divider
    .col-sm-4
      .col-padding
        %h3 Pending join request
        - if !@invitations.nil?
          = render 'invitations/invitation'
        - else 
          %p There is no invitations for the moment 
    .col-sm-4
      .col-padding
        %h3 Column 2
        = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@game.latitude},#{@game.longitude}&markers=#{@game.latitude},#{@game.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",  class: 'img-fluid img-rounded', alt: "#{@game.address} on the map"  
                                                                                                                                                      

    .col-sm-4
      .col-padding
        %header
          %h1.display-4= @game.user.name
        %p
          Address: #{@game.address}
        %p
          Coordinates: #{@game.latitude} , #{@game.longitude}
