.container.profile
  - @invitations.each do |invitation|
    .container-fluid.well.span6
      .row-fluid
        .card{:style => "width: 20rem;"}
          %img.card-img-top{:src => "#{invitation.user.avatar}" , :alt => "#{invitation.user.avatar}"}/
          .card-block[invitation]
            %h3.card-title "#{invitation.user.name}"
            %h6.card-text Email: "#{invitation.user.email}"
            %h6.card-text Location: "#{invitation.user.location}"
            %h6= link_to "Lets Go" , invitations_game_owner_accept_invitation_path(:id => invitation.id) , class: "btn btn-primary" ,:method => :post
             
             
 
    