= form_for(@photo) do |f|
  = render "error_messages", target: @photo
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :image
    %br/
    = f.file_field :image
  - if @photo.image_data?
    .field
      = image_tag @photo.image_url(:thumb)
    .field
      Remove attachment: #{f.check_box :remove_image}
  .actions
    = f.submit