%nav.navbar.navbar-toggleable-md.mb-4.top-bar.navbar-static-top.sps.sps--abv
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse1", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => "/"}
      Ten
      %span Dai
    #navbarCollapse1.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          - if user_signed_in?
            %a.nav-link{:href => "/games"}
              Home
              %span.sr-only (current)
          - else
            %a.nav-link{:href => "/home/index"}
              Home
              %span.sr-only (current)
       

         
        - if user_signed_in?
          = render 'layouts/point'
          %li.nav-item= link_to 'Edit account', edit_user_registration_path , class: "nav-link"
          %li.nav-item= link_to 'Sign out', destroy_user_session_path, :method => :get , class: "nav-link"
          %li.nav-item= link_to "Photos" ,   photos_path , class: "nav-link"
          
         
        
        
        - else
          %li.nav-item
            %a.nav-link{:href => "#benefits"} Benefits
          %li.nav-item
            %a.nav-link{:href => "#about"} About
          = render 'layouts/login_nav_dropdown'
          %li.nav-item
            %a.nav-link{:href => "#contact"} Contact



          // %li.nav-item= link_to 'Sign in', new_user_session_path , class: "nav-link"
      //     %li.nav-item= link_to 'Sign up', new_user_registration_path , class: "nav-link"
      
    
      // // 
